/* btn */

%btn{
  display:inline-block;
  font-family: $font-family;
  text-align: center;
  padding: 0 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

%btn-normal {
  font-size: 14px;
  line-height: 40px;
  height:40px;
}

%btn-medium{
  height:58px;
  line-height: 58px;
  font-size: 21px;
}

%btn-big{
  font-size: 21px;
  line-height: 86px;
  height: 86px;
  padding: 0 136px;
}

%btn-small{
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}


%btn-primary{
  background-color: $color-primary;
  &:hover{
    background-color: $color-primary-hover;
  }
  &:focus{
    color:#94b9d2;
    background-color: $color-primary-focus;
  }
}

%btn-secondary{
  background-color:$color-secondary;
  &:focus{
    background-color: $color-secondary-focus;
  }
  &:hover{
    background-color: $color-secondary-hover;
  }
}