.header-navbar{
	background-color: #555;
	min-height: 42px;
	line-height: 42px;
	font-size: 12px;
}

.header-logo{
	@include make-md-column(3);
	@include make-sm-column(3);
}

.header-logo{
	min-height: 42px;
	padding: 0;
	.logo{
			position: absolute;
	}
}

a.logo{
	@include link(#fff,#fff,#fff);
	@include bg-variant($color-primary,$color-primary-hover,$color-primary-focus);
	@include box-shadow( 0, -5px, 0, rgba(0,0,0,.24), inset);
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	text-align: center;
	height: 47px;
	line-height: 47px;
	margin-top: 0;
	text-transform: uppercase;
	&:hover,&:focus{
	text-decoration: none;
	}
}


.search{
	@include make-md-column(3);
	@include make-sm-column(3);
	padding-left: 0;
	padding-right: 0;
	form{
		position: relative;
	}
	.search-input{
		display: inline-block;
		border: none;
		width: 100%;
		height:auto;
		color: #fff;
		font-size: 17px;
		background-color: transparent;
		line-height: 42px;
		padding: 0 45px;
		&:hover +.icon-search{
			@include opacity(1);
		}
		&:focus{
			background-color: #fff;
			color: #000;
			outline: none;
			&+.icon-search{
				color:$color-primary;
				opacity: 1;
			}
		}
	}
	.icon-search{
		position: absolute;
		top: 0;
		@include opacity(0.3);
		line-height: 40px;
		border: 0;
		padding-left: 15px;
		color:#fff;
		z-index: 2;
	}

}

.header-links{
	@include make-md-column(4);
	@include make-sm-column(3.5);
	@include list-clear;
	line-height: 41px;
	li{
		@include make-md-column(6);
		@include make-sm-column(6);
		padding: 0;
		@media (max-width: $screen-xs-max){
			padding:0;
		}
	}
	a{
		color: #fff;
		font-size: 17px;
		display: inline-block;
		width: 100%;
		text-align: center;
		padding: 0 20px;
		@media (max-width: $screen-sm-max){
			padding:0 5px;
		}
		@media (max-width: $screen-xs-max){
			padding: 0 45px;
			text-align: left;
		}
		&:hover{
			text-decoration: none;
			& i{
				@include opacity(1);
			}
		}
		&:focus{
			@include opacity(.6);
			background-color: #161d29;
			& i{
				@include opacity(0.5);
			}
		}
	}
	i{
		color:#fff;
		@include opacity(0.3);
		margin-right: 10px;
		@media (max-width: $screen-sm-max){
			display: none;
		}
	}
}

.basket_active{
	background-color: $color-primary;
}

.navbar-order{
	@include make-md-column(2);
	@include make-sm-column(2.5);
	padding-left: 0;
	padding-right: 0;
	line-height: 40px;
	.order-btn{
		height: auto;
		@extend %btn;
		color: #fff;
		font-weight: normal;
		font-size: 17px;
		text-transform: none;
		@extend %btn-secondary;
		@media (max-width: $screen-sm-max){
			width: 100%;
		}
		&:focus{
			@include opacity(0.5);
		}
	}

}