/* popup */

.popup{
  @include box-shadow( 0, 20px, 40px, rgba(0,1,1,.75) );
  max-width: 630px;
  min-height: 415px;
  padding: 55px 80px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  @media (max-width: $screen-xs-min){
    padding:30px 15px;
    }
  .user-data{
    @include clearfix;
    input[type="text"]{
    border: 2px solid #d7dbdd;
    background-color: #fff;
    width: 220px;
    height: 35px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    line-height: 34px;
    margin-bottom: 20px;
    &:hover{
      border-color:#a1a9ac;
    }
    &:active{
      border-color: #56befb;
    }
  }
    }
  .user-name{
    margin-right: 20px;
    float: left;
  }
  .user-email{
    float: left;
  }
  label{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding-bottom: 15px;
  }
  textarea{
    width: 460px;
    @media (max-width: $screen-sm-min){
    width: 100%;
    }
    display: block;
    height: 110px;
    padding: 10px;
    border: 2px solid #d7dbdd;
    background-color: #fff;
    color: #000;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  input[type="submit"],
  input[type="reset"]{
    border:none;
    margin-top: 20px;
    padding: 0 70px;
    min-width: 120px;
     @media (max-width: $screen-sm-min){
      padding: 0 20px;
     }
    @extend %btn;
    @extend %btn-normal;
    background-color: $color-other;
    color:#000;
    &:focus{
      background-color: $color-other-focus;
    }
    &:hover{
      background-color: $color-other-hover;
    }
  }

  input[type="reset"]{
    margin-left: 20px;
  }
}