<footer class="footer" >
		<div class="container">
			<div class="tag">#visit</div>
			<div class="social">
				<a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a>
				<a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a>
				<a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a>
			</div>
			<div class="production">
				<a href="#">website by <span class="logo-a"></span></a>
				<a href="#">for <span class="logo-academy"></span></a>
			</div>
			</div>

		</div>
	</footer>