			<div class="thumbnail-row">
				<div class="thumbnail-col">
					<a href="#" class="thumbnail">
						<img src="..." alt="...">
					</a>
				</div>
				<div class="thumbnail-col">
					<a href="#" class="thumbnail">
						<img src="..." alt="...">
					</a>
				</div>
				<div class="thumbnail-col">
					<a href="#" class="thumbnail">
						<img src="..." alt="...">
					</a>
				</div>
				<div class="thumbnail-col">
					<a href="#" class="thumbnail">
						<img src="..." alt="...">
					</a>
				</div>
			</div>