$font-size:14px;
$font-family: 'Roboto', sans-serif;


// color
$nav-hover: #fa5559;
$nav-active:#d1d1d1;
$nav-static:#000;

$btn-primary: #fb5559;
$btn-primary-active:#b63438;
$btn-primary-hover:#d5494d;

$btn-secondary:#00c973;
$btn-secondary-active:#01a152;
$btn-secondary-hover:#008f53;

$btn-third:#efc749;
$btn-third-active:#d6ad2b;
$btn-third-hover:#c09b24 ;

$btn-other: #f1f1f1;
$btn-other-active: #d5d5d5;
$btn-other-hover: #e5e5e5;




