
$font-family-btn: 'Arrow';


// color
$nav-hover: #fa5559;
$nav-focus:#d1d1d1;
$nav-static:#000;

$color-primary: #ed3543;
$color-primary-hover:#ca2b36;
$color-primary-focus:#ba2731;

$color-secondary: #62a63d;
$color-secondary-hover: #5fbb2d;
$color-secondary-focus: #508534;

$color-third:#32425c;
$color-third-hover:#293449 ;
$color-third-focus:#1d2739;

$color-other: #e5e5e5;
$color-other-hover: #cccccc;
$color-other-focus: #b2b2b2;

$color-link-footer:#ffd17f;

$bg-beige:#f7f2ec;
$bg-blue:#f1f5f7;

$sorting:#c4c1bb;
$black:#000;

$bdstyle:dotted;
$bdstyleh:solid;




